*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
$brand-color: #c78b42;
$brand-color2: #051434;
$brand-color2tra: #051434e8;
$font-size:(
    "tiny": 18px,
    "small": 24px,
    "medium": 32px,
    "new-m": 48px,
    "large": 64px,
    "huge": 122px
);
$font-style1: 'Poppins', sans-serif;
@mixin responsive-title ($size, $weight, $top, $left, $line) {
    font-size: map-get($font-size , $size );
    font-weight: $weight;
    color: $brand-color;
    position: absolute;
    top: $top;
    left: $left;
    line-height: $line;
    display: block;
    text-align: left;
}
@mixin responsive-subtitle ($size, $weight) {
    font-size: map-get($font-size, $size );
            font-weight: $weight;
            display: block;
            text-align: left;
}
@mixin responsive-booking-btn ($size, $top, $left, $weight){
             padding: 10px 15px;
             list-style: none;
             text-decoration: none;
             color: $brand-color;
             background-color: $brand-color2;
             position: absolute;
             top: $top;
             left: $left;
             text-align: left;
             font-size: map-get($font-size, $size );
             font-family: $font-style1;
             font-weight: $weight;
             border: 2px solid transparent;
}
@mixin responsive-icons ($width, $top, $left){
    width: $width;
    top: $top;
    left: $left;
}
.container{
    width: 100%;
    height: 100vh;
    background: url(../../images/bg.jpg) no-repeat center center/cover;
    position: relative;
    top: 0%;
    left: 0%;
    overflow: hidden;
    font-family: $font-style1;
    .details{
        .brand-title{
            @include responsive-title("huge", 300, 40%, 60%, 55px);
            padding-right:15px;
            z-index: 1;
            animation-name: slide-title;
            animation-duration: 2s;
            animation-iteration-count: 1;
            @keyframes slide-title {
                0%{
                    left: 100%;
                    color: transparent;
                }
                100%{
                   left: 60%;
                    color: $brand-color;
                }
           }
     
             span{
                @include responsive-subtitle("small", 200) ;
                z-index: 1;
             }
         }
         .booking-btn{
             @include responsive-booking-btn("small", 60%, 60%, 200);
             padding-right:15px;
             animation-name: slide-btn;
             animation-duration: 2s;
             animation-iteration-count: 1;
             @keyframes slide-btn {
                 0%{
                     left: 100%;
                     color: transparent;
                     background-color: transparent;
                 }
                 50%{
                    color: transparent;
                    background-color: transparent;
                 }

                 100%{
                     left: 60%;
                     color: $brand-color;
                     background-color: $brand-color2;
                 }
             }
             &:hover::after{
                width: 120%;
            }
            &::after{
                content: "";
                display: block;
                position: relative;
                top: 15px;
                left: -15px;
                width: 0%;
                height: 2px;
                background-color: $brand-color;
                transition: all .4s;
                text-align: left;

            } 
         }
         .downarrow{
             position: absolute;
             @include responsive-icons(70px, 90%, 50%);
             animation-name: downarrow;
             animation-duration: 1.4s;
             animation-iteration-count: infinite;
             @keyframes downarrow {
                 0%{
                     top: 90%;
                 }
                 50%{
                     top: 91.6%;
                 }
                 100%{
                     top: 90%;
                 }
             }
         }
    }
    nav{
        #navIcon{
            position: absolute;
            @include responsive-icons(50px, 5%, 92%);
            cursor: pointer;
            transition: all.2s;
        }
        #closeIcon{
            display: none;
            position: absolute;
            @include responsive-icons(40px, 5%, 92%);
            cursor: pointer;
            z-index: 12;
        }
        .nav-links{
            position: absolute;
            top: 2%;
            right: -100%;
            width: 96%;
            height: 96vh;
            margin: auto;
            z-index: 5;
            background-color: $brand-color2tra;
            // display: none;
            transition: all .8s;
            ul{ 
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                transform: translateY(40%);
                li{
                    list-style: none;
                    text-align: center;
                   
                   
                    a{
                        display: inline-block;
                        text-decoration: none;
                        color: $brand-color;
                        font-size: map-get($font-size , medium );
                        font-weight: 200;
                        z-index: 12;
                        line-height: 80px;
                        &:hover::after{
                            width: 100%;
                        }
                        &::after{
                            content: "";
                            display: block;
                            position: relative;
                            top: 0%;
                            width: 0%;
                            height: 2px;
                            background-color: $brand-color;
                            transition: all .4s;
                            text-align: left;

                        }
                      
                    }
                }
            }
        }
    }
}
.section-col{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../../images/body3.jpg) no-repeat center center/cover;
 
    .img-div-1{
        width: 20%;
        height: 80vh;
        .a-img1{
            width: 100%;
            height: 80vh;
            position: relative;
            top: 0%;
            left: 0%;
            z-index: 10;
            transition: all .4s;
            border: 2px solid $brand-color;
            &:hover{
                z-index: 18;
                transform: scale(1.02);
              
            }
        }
    }
    .img-div-2{
        width: 40%;
        height: 45vh;
    .a-img2{
        width: 100%;
        height: 50vh;
        position: relative;
        top: -25%;
        left: -20%;
        z-index: 12;
        transition: all .4s;
        border: 2px solid $brand-color;
        &:hover{
            z-index: 18;
            transform: scale(1.02);
           
        }
    }
}
.img-div-3{
    width: 30%;
    height: 35vh;
    .a-img3{
        width: 100%;
        height: 35vh;
        position: relative;
        top: 60%;
        left: -80%;
        z-index: 15;
        border: 2px solid $brand-color;
        transition: all .4s;
        &:hover{
            z-index: 18;
            transform: scale(1.02);
          
        }
    }
}
.heading{
    h1{
        text-shadow: 10 10 10 rgb(54, 54, 54);
        @include responsive-title("new-m", 200, 122%, 60%, 60px);
        letter-spacing: 5px;
    }
}
}
